<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>

    {{>navbar}}

    <!-- header section -->

    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-8 col-10 mx-auto">

                <div class="row">

                    <div class="col-md-10 col-12 main_header_left align-items-center">

                        <figure>
                            <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--_GqDpWw0--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/7aqcppklh6bexoa70320.jpg"
                                alt="error page" class="img-fluid" title="error page">
                        </figure>
                        <h1><span>OOPS </span>You are requested a wrong page</h1>
                        <a href="/"> <button>GO Back</button> </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

  {{>footer}}


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

</html>