<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}

</head>

<body>

  {{!-- using partials --}}
  {{>navbar}}



  <!-- header section -->

  <div class="container-fluid main-header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">

        <div class="row">
          <!-- left side div -->
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to weather app</p>
            <h1>Get the latest <span>Weather</span>Information of your city </h1>
            <a href="/weather"> <button>Check now</button> </a>
          </div>

          <!--right side div from bootstrap carouse -->
          <div class="col-md-6 col-12 main_header_right">

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://cdn.pixabay.com/photo/2020/07/13/15/35/rain-5401146_960_720.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://cdn.pixabay.com/photo/2020/07/13/15/35/rain-5401146_960_720.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://cdn.pixabay.com/photo/2020/07/13/15/35/rain-5401146_960_720.png" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- footer section -->
  {{>footer}}

</body>


<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

</html>