

 <footer>
      <div class="icons">
      <div class="icon1 icondiv">
       <a href="https://www.linkedin.com/in/parul-saini-190550229/" target="_blank"> <i class="fa-brands fa-linkedin fa-2x" style='color: white'></i> </i>
      </a>
      </div>
      <div class="icon1 icondiv">
       <a href="https://github.com/parul-saini" target="_blank"> <i class="fa-brands fa-square-github fa-2x" style='color: white'></i> </i>
      </a>
      </div>
      <div class="icon1 icondiv">
       <a href="mailto: parulsaini2803@gmail.com" target="_blank"> <i class="fa-solid fa-at fa-2x" style='color: white'></i></i> 
      </a>
      </div>
      <div class="icon1 icondiv">
       <a href="https://www.instagram.com/parulsaini_28/" target="_blank"> <i class="fa-brands fa-instagram fa-2x" style='color: white'></i></i> 
      </a>
      </div>
    </div>

       
</footer>



