@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=PT+Sans&family=Piazzolla:ital,opsz,wght@0,8..30,700;1,8..30,300;1,8..30,700&family=Titillium+Web:wght@200&display=swap');

/* font-family: 'PT Sans', sans-serif; */


*{
   /* color: red; */
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
     font-family: 'PT Sans', sans-serif;
   
}

:root{
    --main-bg: #1e272e;
    /* --main-color: #0097e6; */
    --main-color: #66b1e3;
}

/* navbar section  */
.main-menu{
    background-color: var(--main-bg);
}
.navbar{
    background-color: var(--main-bg);
}
.navbar li{
     margin-left: 5px ;

}
.navbar a{
    color: white;
   font-size: 24px ;
   font-weight: bold;
}
.navbar a:hover{
    color: var(--main-color);

}
.navbar-nav{
    margin-left: 130px ;
}
 
/* to change mobile nav icon */
.navbar-toggler-icon{
    filter: invert(1000%);
}

.fa-snowflake{
    transition: all linear;
    animation: rotate1 2s linear infinite;
  
}

@keyframes rotate1{
 0%{
    transform: rotate(0deg);
 }
 100%{
    transform: rotate(360deg);
 }

}
/* responsive navbar */  
@media (max-width:991px){
    .navbar-nav{
        margin-left: 8px ;
    }
}

/* =======navbar finsih */



/* ====main header */

.main_header_left{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_left p{
    font-size: 2rem;

}

.main_header_left h1{
    font-size: 2rem;
    margin: 1rem 0rem 4rem 0;
    text-transform:captialize; 
}
.main_header_left span{
    color: var(--main-color);
}

.main_header_left button{
    border: none;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 21px;
    font-weight:bold ;
    background-color: var(--main-color);
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
}

.main_header_left button:hover{
    padding: 12px;
    box-shadow: 0 8px 7px -6px var(--main-color);
}

.main_header_right{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_right figure img{
    filter :drop-shadow(0 0.4rem 1rem rgb(0,0,0,0.3));

}



/* ====== responsive */
@media(max-width:743px ) {
    
    .main_header_left{
     height: auto;
      margin:3rem 0;
    }
    
    .main_header_right{
        height: auto;
        margin:3rem 0;
    }
}


/* =======weather page  */

.temp_form{
    width: 74%;
    position: relative;
    margin: 2rem auto 1rem;
}

.temp_form input[type="text"]{
    width: 100%;
    padding: 1.2rem ;
    background-color: #1e202b;
    color: white;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 3rem;
}

.temp_form input[type="submit"]{
   
    position: absolute;
    top: 1px;
    right: 9px;
    bottom: 1px;
    background-color: var(--main-color);
    border-radius: 2rem;
    margin: 2px;
    padding: 13px 26px;
    font-weight: bold;
}

.temp_form input[type="submit"]:hover{
    color: var(--main-color);
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

.tempInformation
{
     /* border: solid #000 2px  ; */
    width: 43%;
    margin: auto;
    min-height: 20rem;
    background-color: #323544;
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'PT Sans', sans-serif;
}
.top-layer{
    width: 100%;
    background-color: #1e272e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem 1rem;
   
}
.top-layer p{
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

.main-layer{
    width: 100%;
    /* height: 97%; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.main-layer #city-name-display{
    padding: 2rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}

.main-layer .middle-layer{
    display: flex;
    color: #fff;
    justify-content: space-around;
   
}

.main-layer .middle-layer p,
.main-layer .middle-layer .fa{
    font-weight: bold;
    font-size: 2rem;
}

.main-layer .middle-layer .fa{
    color: var(--main-color);
}

sup{
    font-size: 6rem; 
    margin-top: -1.5rem;
}
.data-hide{
    visibility: hidden;
    /* transition: all 0.s linear; */
}

/* responsive weather */  
@media (max-width:510px)
{
    .tempInformation{
        width:74%;

    }
    .top-layer {
        flex-direction: column;
    }
    .main-layer .middle-layer p, .main-layer .middle-layer .fa{
        font-size: 2rem;
    }
    .main-layer #city-name-display {
        font-size: 1rem;
    }
    .top-layer p{
        font-size: 1rem;
    }
    .temp_form input[type="submit"]{
        right: -2px;
        padding: 8px 9px;
    }

   
   
}




/* ======= footer */
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    width: 100%;
    background-color: var(--main-bg);
    /* margin: auto;  se to stick it in bottom and use body tag  */
    position: fixed;
    bottom: 0%;
    z-index: 2;

}
footer p {
  margin: 0px ;
  text-align: center;
  color: white;
  line-height: 3rem;
  background-color: var(--main-bg);
}
.icons{
     width: 100%;
     height: 3rem;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 
}
.icondiv{
    margin: 10px;
}

.fa-cloud,.fa-sun,fa-cloud-rain{
    animation: fas-anime 2s linear infinite alternate;
}

@keyframes fas-anime {
    from{
     transform: scale(1.0);
    }
    to{
    transform: scale(1.4);
    }
}

